@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'pages';

#sidebar #avatar img:hover {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

#sidebar #avatar {
    box-shadow: unset !important;
    border-radius: unset !important;
}