/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

#sidebar #avatar img:hover {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

#sidebar #avatar {
  box-shadow: unset !important;
  border-radius: unset !important;
}
